@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 400px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .top img {
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container .card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .card h1 {
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
  font-weight: 900;
}

.container .card p {
  color: hsl(224, 23%, 55%);
  padding: 1rem;
}

.container .card .plan {
  width: 100%;
  padding: 1rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .card .plan li {
  list-style-type: none;
}

.container .card .plan .first-span {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-right: 50px;
}

.container .card .plan .second-span {
  color: hsl(224, 23%, 55%);
  margin-right: 50px;
}

.container .card .plan a {
  color: hsl(245, 75%, 52%);
  font-size: 0.9rem;
  font-weight: 900;
}

.container .card .plan a:hover {
  color: hsl(245, 75%, 52%, 60%);
  text-decoration: none;
  cursor: pointer;
}

.container .card .proceed {
  background-color: hsl(245, 75%, 52%);
  margin-top: 1rem;
  border-radius: 0.8rem;
  width: 100%;
  box-shadow: hsl(223, 47%, 23%, 15%) 0px 2px 1px,
    hsl(223, 47%, 23%, 15%) 0px 4px 2px, hsl(223, 47%, 23%, 15%) 0px 8px 4px,
    hsl(223, 47%, 23%, 15%) 0px 16px 8px, hsl(223, 47%, 23%, 15%) 0px 32px 16px;
}

.container .card .proceed p {
  color: hsl(0, 0%, 100%);
}

.container .card .proceed:hover {
  background-color: hsl(245, 75%, 52%, 60%);
  cursor: pointer;
}

.container .card .cancel {
  font-weight: 700;
  margin-top: 1rem;
}

.container .card .cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

color {
  color: hsl(225, 100%, 94%);
  color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  color: hsl(224, 23%, 55%);
  color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
}
